In [14]:
def splitting_function(data,motif):
    number_of_records = len(data.index)
    left_node_data = data[data[motif]==1]
    right_node_data = data[data[motif]==0]
    number_of_records_left = len(left_node_data.index)
    number_of_records_right = len(right_node_data.index)
    if number_of_records_left == 0 or number_of_records_right == 0:
        return 0.0
    P_l = number_of_records_left/float(number_of_records)
    P_r = number_of_records_right/float(number_of_records)
    P_j1_left = len(left_node_data[left_node_data['class']==1].index)/float(number_of_records_left)
    P_j1_right = len(right_node_data[right_node_data['class']==1].index)/float(number_of_records_right)
    P_j_1_left = len(left_node_data[left_node_data['class']==-1].index)/float(number_of_records_left)
    P_j_1_right = len(right_node_data[right_node_data['class']==-1].index)/float(number_of_records_right)
    
    Phi = 2*P_l*P_r*(abs(P_j1_left-P_j1_right)+abs(P_j_1_left-P_j_1_right))
    return Phi

In [25]:
def find_best_motif(data):
    my_dict = {}
    for i in data.columns[:-1]:
        my_dict[i] = splitting_function(data,i)
    sorted_dict = sorted(my_dict,key = my_dict.get, reverse = True)
    return sorted_dict[0],my_dict[sorted_dict[0]]

In [3]:
import pandas as pd
my_data = pd.DataFrame()

In [4]:
my_data['m1'] = [1,0,0,1,0,0]
my_data['m2'] = [0,1,0,0,0,0]
my_data['m3'] = [1,1,1,1,1,0]
my_data['class']=[1,1,1,-1,-1,-1]
my_data.index = ['s1','s2','s3','s4','s5','s6']

In [5]:
my_data

    m1  m2  m3  class
s1   1   0   1      1
s2   0   1   1      1
s3   0   0   1      1
s4   1   0   1     -1
s5   0   0   1     -1
s6   0   0   0     -1

In [6]:
splitting_function(my_data,'m1')

0.0

In [8]:
for i in my_data.columns[:-1]:
    print i,splitting_function(my_data,i)

m1 0.0
m2 0.333333333333
m3 0.333333333333

In [10]:
my_seqs = my_data.index.tolist()

In [11]:
my_seqs.remove("s2")

In [12]:
my_seqs

['s1', 's3', 's4', 's5', 's6']

In [13]:
my_data_2 = my_data.loc[my_seqs]

In [15]:
for i in my_data_2.columns[:-1]:
    print i,splitting_function(my_data_2,i)

m1 0.16
m2 0.0
m3 0.32

In [17]:
my_seqs.remove("s6")

In [18]:
my_seqs

['s1', 's3', 's4', 's5']

In [19]:
my_data_3 = my_data.loc[my_seqs]

In [20]:
my_data_3

    m1  m2  m3  class
s1   1   0   1      1
s3   0   0   1      1
s4   1   0   1     -1
s5   0   0   1     -1

In [21]:
for i in my_data_3.columns[:-1]:
    print i,splitting_function(my_data_3,i)

m1 0.0
m2 0.0
m3 0.0

In [64]:
class Node:
    def __init__(self,motif,data):
        self.left=False
        self.right=False
        self.motif=motif
        self.data=data
        self.lable = ""
        self.leaf = False
        
    def insert_left(self):
        #check if a leaf node
  
        left_data = self.data[self.data[self.motif] == 1]
        best_motif, best_phi = find_best_motif(left_data)
        #check if this node will be a leaf, meaning that we will stop insert node
        if best_phi == 0 or len(left_data.index) <= 1:
            
            lable = find_label_leaf(left_data)
            leaf_node = Node("leaf",left_data)
            leaf_node.leaf = True
            leaf_node.label = lable
            self.left = leaf_node
        else:
            left_node = Node(best_motif,left_data)
            self.left = left_node
    def insert_right(self):
        #check if a leaf node
        right_data = self.data[self.data[self.motif] == 0]
        best_motif, best_phi = find_best_motif(right_data)
        #check if this node will be a leaf, meaning that we will stop insert node
        if best_phi == 0 or len(right_data.index) <= 1:
            
            lable = find_label_leaf(right_data)
            leaf_node = Node("leaf",right_data)
            leaf_node.leaf = True
            leaf_node.label = lable
            self.right = leaf_node
        else:
            right_node = Node(best_motif,right_data)
            self.right = right_node
            
def inorder_traversal(node):
    print node.motif
    if node.leaf:
        print node.label
    if node.left:
        inorder_traversal(node.left)
    if node.right:
        inorder_traversal(node.right)
        
def decision_tree_prediction(node,data,seq):
    #check leaf node
    if node.leaf:
        return node.label
    value = data.at[seq,node.motif]
    if value == 1:
        next_node = node.left
    else:
        next_node = node.right
    return decision_tree_prediction(next_node,data,seq)

In [66]:
def find_label_leaf(data):
    pos_num = len(data[data['class']==1].index)
    neg_num = len(data[data['class']==-1].index)
    if pos_num >= neg_num:
        return 1
    else:
        return -1

In [54]:
def grow_tree(node):
    if not node.leaf:
        node.insert_left()
        node.insert_right()
        grow_tree(node.left)
        grow_tree(node.right)

In [55]:
root = Node("m2",my_data)

In [56]:
grow_tree(root)

In [57]:
inorder_traversal(root)

m2
leaf
1
m3
leaf
-1
leaf
-1

In [65]:
for i in my_data.index.tolist():
    print i,decision_tree_prediction(root,my_data,i)

s1 -1
s2 1
s3 -1
s4 -1
s5 -1
s6 -1